@model Entities.Entities.SitioGeneral

@{
    ViewData["Title"] = "Admin Module";
}
 


<h1>West Ocean Beach Administrator Module</h1>

<p>Use this page for the administrator changes and login/logout</p>

<label>Editar Facilidades</label>
<form method="post" asp-controller="Admin" asp-action="EditarFacilidades">

    <textarea rows="6" cols="70" asp-for="FACILIDADES">
   </textarea>

    <textarea rows="6" cols="70" readonly>
      @ViewBag.facilidades
   </textarea>

    <div class="form-group">
        <div class="col-lg-6">
            <input class="btn btn-success" type="submit" value="Editar texto" style="background-color: #F35C2D;" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-10">
        <div id="acercaDe">

            <h2> Editar Acerca de </h2>

            
      
                  <textarea  class="noteToAdd" id="aboutUs" name="sitelink" rows="10" cols="70">@ViewBag.CercaDe </textarea>
                  <br>
                  <input class="btn" id="btnAceptAboutUs" type="submit" value="Aceptar" onclick="updateAboutUs()">
                  <input class="btn" id="btnCancelAboutUs" type="submit" value="Cancelar" onclick="document.getElementById('id01').style.display='block'">
            

        </div>

    </div>

</div>


<!-- The Modal Messages confimation  -->



<div id="id01" class="modal1">
  <span onclick="document.getElementById('id01').style.display='none'" class="close1" title="Close Modal">×</span>
  <form class="modal-content1" action="/action_page.php">
    <div class="container1">
      <h1>Cancelar la operacion</h1>
      <p>Estas seguro quieres cancelar la operacion?</p>
    
      <div class="clearfix">
        <button type="button" onclick="cancelarupdateAboutUs()" class="cancelbtn">Aceptar</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Cancelar</button>
      </div>
    </div>
  </form>
</div>




<!-- The Modal Messages -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="answer"></p>
  </div>

</div>


<!-- The Modal Messages  confimation-->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="answer"></p>


  </div>

</div>


<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>

<script>
// Get the modal
var modal = document.getElementById("myModal");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  window.location = "https://localhost:44343/Admin";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

