
@{
    ViewData["Title"] = "Index_Val";
}



 <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="https://i.postimg.cc/Qxvj8K4q/logo.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="~/css/Admin.css" rel="stylesheet" type="text/css">
    </head>

    <div class="container" style="width:100%">
        <!-- logo y header -->
        <div id="menu" class="col-sm-20" style="width:100%">
            <div class="titulo"  style="width:100%">
                 <p class="admin01"> Error de conexión, intentelo más tarde!</p>
            </div>
        </div> 
    </div>