@{
    ViewData["Title"] = "Home Page";
}

<img src="https://i.postimg.cc/Qxvj8K4q/logo.png">

<!-- Navigation bar -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">

  <div class="container"> 
      <ul class="nav navbar-nav">
        <li><a href="#home" class="page-scroll">Home</a></li>
        <li><a href="#sobrenosotros" class="page-scroll">About</a></li>
        <li><a href="#facilidades" class="page-scroll">Menu</a></li>
        <li><a href="#contacto" class="page-scroll">Contact</a></li>
        <li><a href="#comollegar" class="page-scroll">Address</a></li>
      </ul>
   

  </div>
</nav>

<!-- Home Section -->
<section id="home" style="background-color:yellow;">
    <p>Home</p>
 
</section>


<!-- facilidades-->
<section id="facilidades" style="background-color:green;">
    <p>Facilidades</p>
  
</section>



<!-- About Section -->
<section id="sobrenosotros" style="background-color:red;">
    <p>About</p>

</section>

<!-- contacto Section -->
<section id="contacto" style="background-color:blue;">
    <p>Contact</p>
 
</section>




<!-- como llegar Section -->
<div id="comollegar" style="background-color:pink;">
    <p>Como llegar</p>

</div>
 

