@{
    ViewData["Title"] = "Home Page";
}

<img id="iconHome" src="https://i.postimg.cc/52q74x44/logo.png">

<!-- Navigation bar -->
<nav id="menu">

    <ul class="nav navbar-nav">
    <li><a href="#home" class="page-scroll">Home</a></li>
    <li><a href="#facilidades" class="page-scroll">Menu</a></li>
    <li><a href="#sobrenosotros" class="page-scroll">About</a></li>
    <li><a href="#contacto" class="page-scroll">Contact</a></li>
    <li><a href="#comollegar" class="page-scroll">Address</a></li>
    </ul>
   
</nav>

<!-- Home Section -->
<section id="home" class="section">
    <p>Home</p>
 
</section>


<!-- facilidades-->
<section id="facilidades" class="section" >
    <p>Facilidades</p>

</section>


<!-- About Section -->
<section id="sobrenosotros" class="section">
    <p>About</p>

</section>

<!-- contacto Section -->
<section id="contacto" class="section">
    <p>Contact</p>

</section>


<!-- como llegar Section -->
<div id="comollegar" class="section">
    <p>Como llegar</p>

</div>