
@{
    ViewData["Title"] = "Hotel West Ocean Beach ";
}

</section>
<!-- facilidades-->
<section id="facilidades" class="section" >
    <p>Facilidades</p>

</section>


<!-- About Section -->
<section id="sobrenosotros" class="section">
    <p>About</p>

</section>

<!-- contacto Section -->
<section id="contacto" class="section">
    <p>Contact</p>

</section>


<!-- como llegar Section -->
<div id="comollegar" class="section">
    <p>Como llegar</p>

