@model Entities.Entities.Reserva

@{
    ViewData["Title"] = "Hotel West Ocean Beach ";
}

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://i.postimg.cc/Qxvj8K4q/logo.png">
</head>

<div class="container">

    <!-- logo y header -->
    <div id="menuu" class="col-sm-12">
        <div class="titulo">
            <img class="izquierda" src="https://i.postimg.cc/Qxvj8K4q/logo.png">
            <aside> <p class="new"> Hotel West Ocean Beach</p></aside>
    </div>


    <div class="row">

        <!-- Menú principal y publicidad -->
        <div class="col-sm-2" style="margin-block: 1em; background-color: white">
            <div id="header01">

                <ul class="nav nav-pills flex-column menuVert1 ">

                    <li class="nav-item">
                        <a href="#inicio" class="page-scroll">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a href="#facilidades" class="page-scroll">Facilidades</a>
                    </li>

                    <li class="nav-item">
                        <a href="#tarifas" class="page-scroll">Tarifas</a>
                    </li>

                    <li class="nav-item">
                        <a href="#reservas" class="page-scroll">Reservar En Linea</a>
                    </li>

                    <li class="nav-item">
                        <a href="#acercade" class="page-scroll">Acerca De</a>
                    </li>

                    <li class="nav-item">
                        <a href="#comollegar" class="page-scroll">¿Cómo Llegar?</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contacto" class="page-scroll">Contáctenos</a>
                    </li>

                </ul>

            </div>


            <div id="header02">

                <h3 id="tituloPublicidad">Publicidad</h3>

                <img id="imagenPublicidad" class="img-fluid " src="https://i.ytimg.com/vi/R0NZ-dNI8CI/maxresdefault.jpg" alt="Nature">
                </br >
                </br >

                <img id="imagenPublicidad" class="img-fluid " src="https://i.postimg.cc/90jdW04P/coca-cola-wristband-ooh.jpg" alt="Nature">
                </br >
                </br >

                <img id="imagenPublicidad" class="img-fluid " src=" https://i.postimg.cc/W1rsZ4tq/20201002102718-parque-x2.webp" alt="Nature">

            </div>

        </div>



        <!-- Secciones (contenido) -->
        <div class="col-sm-10">

            <!-- Sección Home (Inicio) -->
            <section id="inicio" class="container" style="margin-block: 1em; background-color: white">
                <div class="row">
                    <div class="col-sm-7">

                        <img src="https://costarica.org/wp-content/uploads/2017/06/Hotel-Guanamar-Beach-1.jpg" alt="Nature" style="width: 30em; height:24em; margin-left: auto">

                    </div>
                    <div class="col-sm-4">
                        <p class="msjBienvenida">
                        <p class="new">Bienvenidos al Hotel West Ocean Beach</p>
                        <p class="Alineacion">
                            Querido invitado,
                            Es un placer darle la bienvenida. Sabemos que tiene una variedad de hoteles para elegir. 
                            Nos esforzamos por brindarle un servicio amable y atento a un precio asequible, con habitaciones limpias y cómodas. 
                            Queremos que disfrute cada día de su estadía por lo que garantizamos un excelente servicio. 
                            El personal amable y profesional de West Ocean Beach Resort está comprometido a brindarle una estadía placentera y cómoda.
                            Esperamos que continúe visitando nuestro hotel. 
                            Gracias por preferirnos. 
                        </p>
                    </div>
                </div>
            </section>



            <!-- Sección Facilidades -->
            <section id="facilidades" style="background-color:white;">

                <h2>Facilidades Seccion </h2>

                <div class="w3-container">
                    <p>
                        Para las reservaciones de habitaciones Jr. se cuenta con facilidades como: <br>
                        Spa, Gimnasio, lavanderia y desayuno gratis durante el tiempo de estadia. </br>
                        Para las reservaciones de habitaciones estándar se cuenta con facilidades como: <br>
                        Lavanderia y desayuno gratis durante el tiempo de estadia. <br>
                    </p>
                </div>

                <div class="w3-content w3-section" style="max-width:500px">
                    <img class="slides w3-animate-top" src="https://www.sekco-laundryservices.com/media/1233/hero-orange-white-laundromat.jpg" style="width:100%">
                    <img class="slides w3-animate-bottom" src="https://www.timeoutriyadh.com/cloud/timeoutriyadh/2021/07/11/elqbkbwM-bestbreakfastsriyadhshutterstock_1-1200x800.jpg" style="width:100%">
                    <img class="slides w3-animate-bottom" src="https://www.timeoutriyadh.com/cloud/timeoutriyadh/2021/07/11/elqbkbwM-bestbreakfastsriyadhshutterstock_1-1200x800.jpg" style="width:100%">
                    <img class="slides w3-animate-top" src="https://www.hotelvalencialasarenas.com/wp-content/blogs.dir/1493/files/cabeceras/header-spa.jpg" style="width:100%">
                    <img class="slides w3-animate-bottom" src="https://www.bestgym.com.mx/storage/home-page/August2020/kW1Sf6E1K9ti7OfsCJdp.jpg" style="width:100%">
                </div>

                <script>
                    // para intercambiar imagenes durante un periodo de tiempo
                    var myIndex = 0;
                    carousel();
                    function carousel() {
                        var i;
                        var x = document.getElementsByClassName("slides");
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        myIndex++;
                        if (myIndex > x.length) { myIndex = 1 }
                        x[myIndex - 1].style.display = "block";
                        setTimeout(carousel, 2500);
                    }
                </script>

            </section>

            <br/>

            <!-- Sección Tarifas -->
            <section id="tarifas" class="container" style="background-color:white;">

                <div class="row">
                    <h2>Tarifas</h2>
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <p>

                        </p>
                    </div>
                </div>

            </section>

            <br/>

            <!-- Reservas Section -->
            <section id="reservas" class="container" style="background-color:white;">
                <div class="row">
                    <h2>Reservas</h2>
                     <br/>
                    <br/>

                    <form style="margin-top:45px;" asp-action="buscarHabitaciones">
                        <label>Fecha inicio: </label>
                        <input asp-for="fechaI" type="date">

                        <label>Fecha final: </label>
                        <input asp-for="fechaF" type="date">
                        <br/>

                        <select asp-for="tipoHabitacion">
                            <option value="1">Junior</option>
                            <option value="2">Estandar</option>
                        </select>
                        <br/>
                        <br/>

                        <input style="margin-left:50px;" type="submit" value="Buscar habitaciones disponibles" class="btn btn-primary" />
                    </form>
                    <br/>

                    <!-- Button trigger modal -->
                    <button style="margin-left:50px;"type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Reservar
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Reservación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="reservarHabitacion">
                                        <label class="control-label">Habitaciones disponibles: </label>
                                        <select asp-for="numHabitacion" asp-items="ViewBag.H" class="custom-select">
                                        </select>
                                        <input asp-for="fechaIS" value="@(ViewBag.fIn ?? String.Empty)" readonly />
                                        <input asp-for="fechaFS" value="@(ViewBag.fFn ?? String.Empty)" readonly />
                                        <div class="form-group row">
                                            <label asp-for="nombre" class="control-label">Nombre: </label>
                                            <input asp-for="nombre" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Reservar" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>@ViewBag.Respuesta</p>
                </div>
            </section>

            <br/>

            <!-- Sección Acerca de. -->
            <section id="acercade" style="background-color:white;">

                <h2 class="new">Acerca de</h2>
                <p class="Alineacion2">
                    El hotel West Ocean Beach, ubicado en la provincia de <a href="#comollegar">Puntarenas, Costa Rica,</a> es el primer hotel que posee la cadena en Costa Rica,
                    tenemos una larga trayectoria en el manejo de hoteles desde 1985, nos hemos ubicado en los destinos turisticos
                    más concurridos del mundo, y Costa Rica no iba a ser la excepción. En West Ocean Beach, nos caracterizamos por brindar
                    una experiencia inolvidable, con la mayor comodidad y opciones entretenimiento y descanso para las personas que nos visitan.<br>
                    Una valiosa experiencia: <br>
                    Juana Bolaños, la fundadora de la cadena West Ocean Beach, fue una recepcionista en un hotel de alto prestigio
                    en los Estado Unidos, donde trabajó por 10 años, hasta que se empezó a sentir inconforme con lo que veía en el
                    hotel, precios muy elevados, servicios innecesarios, poco interés en la experencia de los clientes, y demás
                    situaciones, por esta razón su sueno fue crear una cadena de hoteles realmente interesados en generar una
                    experiencia inolvidable y a precios accesibles.<br>
                </p>

                <!-- galeria -->
                <h4 id="galeria1">Galería</h4>

                <div class='parent'>
                    <div class='child'>
                        <div class="espacio">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                                </ol>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen4.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen5.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen6.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen7.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen8.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="imgCarrusel" class="d-block w-80" src="imagenes/imagen9.jpg" alt="Third slide">
                                    </div>
                                </div>

                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div id="childLeft" class='child'>
                        <!-- Photo Grid -->
                        <div class="column">
                            <img src="imagenes/imagen1.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen2.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen3.jpg" style="width:120px; height:120px;">
                        </div>

                        <div class="column">
                            <img src="imagenes/imagen4.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen5.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen6.jpg" style="width:120px; height:120px;">
                        </div>

                        <div class="column">
                            <img src="imagenes/imagen7.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen8.jpg" style="width:120px; height:120px;">
                            <img src="imagenes/imagen9.jpg" style="width:120px; height:120px;">
                        </div>
                    </div>
                </div>
            </section>


            <!-- cómo llegar Section -->
            <section id="comollegar" class="container"  style="background-color:white;">
                <div class="row">
                    <h2>Cómo llegar</h2>

                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=playa%20fantasia%20costa%20rica&t=k&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123 movies</a><br>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 500px;
                                        width: 600px;
                                    }
                                </style><a href="https://www.embedgooglemap.net">google maps widget html</a>
                                <style>
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 500px;
                                        width: 600px;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <br/>

            <!-- contacto Section -->

            <section id="contacto" class="container" style="margin-block: 1em; background-color: white;  text-align: left;">


                  <h2 id="contactoo" >Contacto</h2>
                
                <div class="row">
              
                    <div class="col-sm-6">

                        <div id="ubicacionTextoContact">
                            <br />
                              <h4 id="tituloContacto">Hotel West Ocean Beach</h4>
                              <p id="telefonoContacto" >Tel:(+506) 2222-2222 / 2222-2323</p>
                             <p id="codigoContacto">Apdo Postal XYZ</p> 
                             
                            <p>Informacion:   <a id="correoContacto" href = "mailto:WestOceanBeach@gmail.com?subject = Feedback&body = Message">
                                     WestOceanBeach@gmail.com
                                </a> </p> 
                        </div>
                    </div>

                    <div class="col-sm-6">

                         <img src="~/imagenes/contacto.png" style="width:150px; height:120px;">
                        <p style="width:100%;">
                         Si en algún momento tiene alguna sugerencia sobre cómo mejorar nuestro servicio, háganoslo saber. Si tiene algún problema durante su estadía con nosotros, comuníquese de inmediato al teléfono 2298-1700 ext: 42 para que tengamos la oportunidad de corregir la situación.
                        </p>

                    </div>

                </div>
            </section>

        </div>
    </div>    
</div>