body {
}


#aboutUs {
    text-align: justify-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    padding: 0;
    margin: 0;
    display: inline;
    white-space: normal;
}

#btnAceptAboutUs {
    background-color: #007bff;
    text-align: center;
    color: white;
    margin: 13px;
    width: 115px;
    height: 45px;
    border-radius: 0.3em;
    border-color: #007bff;
}

#btnCancelAboutUs {
    background-color: red;
    text-align: center;
    color: white;
    margin: 13px;
    width: 115px;
    height: 45px;
    border-radius: 0.3em;
    border-color: white;
}


/* The Modal (background) */
.modal {
    margin-top: 70px;
    margin-left: 80px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
 .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
}


.btn {
    display: inline-block;
    margin-right: 20px;
}