#button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#imagenPublicidad {
    width: 8em !important;
    height: 10em !important;
    border-radius: 3px !important;
}

#publicity {
    width: 150px !important;
    height: 120px !important;
    margin-left: auto !important;
    margin-top: 0px !important;
}

#tituloPublicidad {
    font-family: new times roman;
    font-size: large;
    text-align: center;
    text-shadow: 7px 4px 5px #3498DB;
}


#tituloMenu {
    font-family: new times roman;
    font-size: large;
    text-align: center;
    text-shadow: 7px 4px 5px #3498DB;
}

#sidebar-menu {
    margin-top: 0px !important;
    position: fixed !important;
    margin-left: -20px !important;
}

#header01 {
    top: 1em !important;
    position: fixed !important;
}

#header02 {
    top: 21em !important;
    position: fixed !important;
}